.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.right {
  flex: 1;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-content: inherit;
  animation: inProgress 1s ease infinite alternate;
}
